:root{
    --cor-de-fundo:000000;
    --branco-principal:#ffffff;
    --azul:#167bf7;
    --cinza:#c0c0c0;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}
*{margin:0;
    pedding:0;
}
.principal {
    background-image: url("img/background.png")
}
.principal{
    height: 100vh;
}

.conteiner__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color:var(--branco-principal);
    display:block;
    margin-bottom: lem;
}
.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.container_titulo {
    font-size: 28px;
    font-weight: 700;
}
.conteiner_image{
    margin: lem 0 2em 0;
}
.conteiner_caixa{
    margin: 0 6em
}
.secundario{
    width: 80%;
}
.secundario{
    align-items: center;
    margin: 0 10em;
}
.descriçao_titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.lem;
}
.descriçao_texto{
    color: var(--cinza-secundario)
}
.botao_secundario{
    display: inline-block;
    margin-top: lem;
}
.container_descriçao{
    padding: 2em;
}
.dispositivos_lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
